﻿@model StarWars.ViewModels.CatalogViewModel
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using StarWars.Data.Enums
@using StarWars.ViewModels

<div class="container">

	<div class="mb-5">
		<h3>Каталог персонажей StarWars</h3>
	</div>

	<form asp-action="Catalog" asp-controller="Catalog" method="get">
		<div class="card">
			<div class="card-body">
				<div class="d-flex justify-content-between">

					<div class="d-flex">
						<div>
							<div class="d-flex">
								<p class="me-3">Дата рождения</p>
								<p class="mt-3 me-2 ms-1">с</p>
								<input type="text" asp-for="dateFrom" class="form-control" value="@ViewBag.CurrentFilterDateFrom">
								<p class="mt-3 ms-1 me-1">по</p>
								<input type="text" asp-for="dateTo" class="form-control" value="@ViewBag.CurrentFilterDateTo">
								<p class="mt-3 ms-1 me-1">ДБЯ</p>
							</div>
							<div>
								<div class="d-flex mt-3">
									<p class="mt-4 me-3">Фильмы</p>
									<select class="selectpicker ms-2 mt-3" asp-for="SelectedFilms" multiple>
										@foreach (var film in @Model.Films)
										{
											<!option value="@film.Id" @(Model.SelectedFilms != null && Model.SelectedFilms.Contains(film.Id) ? "selected" : "")>@film.Name</!option>
										}
									</select>
								</div>
							</div>
						</div>
						<div class="ms-5">
							<div>
								<div class="d-flex">
									<p class="mt-3 me-3">Планета</p>
									<select class="selectpicker ms-2 mt-3"asp-for="SelectedPlanets" multiple>
										@foreach (var planet in @Model.Planets)
										{
											<!option value="@planet.Id" @(Model.SelectedPlanets != null && Model.SelectedPlanets.Contains(planet.Id) ? "selected" : "")>@planet.Name</!option>
										}
									</select>
								</div>
								<div class="d-flex mt-3">
									<p class="mt-4 me-3">Пол</p>
									<select class="selectpicker mt-3" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
										<!option value="">Выберите пол</!option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-secondary mt-5">Применить</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="d-flex justify-content-center">
		<div class="col-10 mt-5 d-flex ">
			<div class="row row-cols-md-2 g-4 d-flex w-100">
				@foreach (var hero in Model.Heroes)
				{
					<div>
						<div class="card col">
							<div class="d-flex m-3">
								<div>
									<h5 class="card-title">@hero.Name</h5>
									<p>@hero.NameOriginal</p>
								</div>
								<div class=" d-flex mt-3 d-flex w-100 justify-content-end me-3">
									<div>
										<a class="btn btn-outline-secondary" asp-action="Hero" asp-controller="Hero" asp-route-heroId="@hero.Id">
											<i class="fa-solid fa-circle-info"></i>
										</a>
									</div>
									<div class="ms-1">
										<a class="btn btn-outline-secondary" asp-action="UpdateHero" asp-controller="Hero" asp-route-heroId="@hero.Id">
											<i class="fas fa-pen"></i>
										</a>
									</div>

								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>


	<div class="row mt-5">
		<div class="col-md-12">
			@Html.PagedListPager((IPagedList)Model.Heroes, page => Url.Action("Catalog", "Catalog",
				new
				{
					page,
					currentGender = ViewBag.CurrentFilterGender,
					currentDateFrom = ViewBag.CurrentFilterDateFrom,
					currentDateTo = ViewBag.CurrentFilterDateTo,
					currentSelectedFilms = ViewBag.CurrentFilterSelectedFilms,
					currentSelectedPlanets = ViewBag.CurrentFilterSelectedPlanets
				}),
				new PagedListRenderOptions
				{
					LiElementClasses = new[] { "page-item" },
					PageClasses = new[] { "page-link" },
				})
		</div>
	</div>

</div>