﻿@model StarWars.ViewModels.RegisterViewModel

<div class="row">
	<div class="col-12">
		<h1 class="mb-3">Регистрация нового пользователя</h1>

		<form asp-action="Register" asp-controller="Account" method="POST">
			<div class="mb-3">
				<label for="fio" class="form-label" asp-for="Name">ФИО</label>
				<input type="text" class="form-control" id="fio" asp-for="Name">
				<span class="text-danger" asp-validation-for="Name"></span>
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label" asp-for="Email">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Email">
				<div id="emailHelp" class="form-text">Email будет использоваться для входа в систему</div>
				<span class="text-danger" asp-validation-for="Email"></span>
			</div>
			<div class="mb-3">
				<label class="form-label" asp-for="Password"></label>
				<input type="password" class="form-control" asp-for="Password">
				<span class="text-danger" asp-validation-for="Password"></span>
			</div>
			<div class="text-danger" asp-validation-summary="All"></div>
			<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
		</form>
	</div>
</div>