﻿@using StarWars.Data.Enums
@model StarWars.ViewModels.CreateHeroViewModel

<div class="container">

	<div class="mb-5">
		<h3>Добавление персонажа</h3>
	</div>

	<form asp-action="CreateHero" asp-controller="Hero" method="post">
		<div class="d-flex">
			<div>
				<div class="mb-1 d-flex">
					<label for="name" class="form-label" asp-for="Name">Имя персонажа</label>
					<input type="text" class="form-control" id="name" asp-for="Name" style="margin-left: 50px;height:45px">
				</div>
				<div class="mb-1 d-flex">
					<label for="nameoriginal" class="form-label" asp-for="NameOriginal">Имя (В оригинале)</label>
					<input type="text" class="form-control" id="nameoriginal" asp-for="NameOriginal" style="margin-left: 45px;height:45px">
				</div>
				<div class="mb-1 d-flex">
					<label for="bornDate" class="form-label" asp-for="BornDate">Дата рождения</label>
					<input type="number" class="form-control" id="bornDate" asp-for="BornDate" style="margin-left: 56px;height:45px">
				</div>
				<div class="mb-2 d-flex">
					<label class="form-label mt-1 me-3">Планета</label>
					<select class="selectpicker ms-5" name="SelectedPlanet">
						@foreach (var planet in @Model.Planets)
						{
							<!option value="@planet.Id">@planet.Name</!option>
						}
					</select>
				</div>
				<div class="mb-2 d-flex">
					<label class="form-label mt-1 me-5">Пол</label>
					<select class="selectpicker ms-5" name="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
					</select>
				</div>
				<div class="mb-2 d-flex">
					<label for="race" class="form-label" asp-for="Race">Раса</label>
					<input type="text" class="form-control" id="race" asp-for="Race" style="margin-left: 101px;height:45px">
				</div>
				<div class="mb-2 d-flex">
					<label for="height" class="form-label" asp-for="Height">Рост</label>
					<input type="text" class="form-control" id="height" asp-for="Height" style="margin-left: 101px;height:45px">
				</div>
				<div class=" d-flex">
					<label for="hairColor" class="form-label" asp-for="HairColor">Цвет волос</label>
					<input type="text" class="form-control" id="hairColor" asp-for="HairColor" style="margin-left: 81px;height:45px">
				</div>	
				<div class=" d-flex">
					<label for="eyeColor" class="form-label" asp-for="EyeColor">Цвет глаз</label>
					<input type="text" class="form-control" id="eyeColor" asp-for="EyeColor" style="margin-left: 90px;height:45px">
				</div>

			</div>
			<div>
				<div class="ms-5">
					<div>
						<div class="mb-2 d-flex">
							<label for="description" class="form-label" asp-for="Description">Описание</label>
							<input type="text" class="ms-5 text-wrap flex-wrap d-flex" id="description" asp-for="Description" style="height: 200px;">
						</div>
						<div class="mb-2 mt-3 d-flex">
							<label class="form-label mt-1">Фильмы</label>
							<select class="selectpicker ms-5" name="SelectedFilms" multiple>
								@foreach (var film in @Model.Films)
								{
									<!option value="@film.Id">@film.Name</!option>
								}
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-end">
			<div>
				<div class="text-danger" asp-validation-summary="All"></div>
				<a class="btn btn-danger me-5" asp-action="Catalog" asp-controller="Catalog">Отменить</a>
				<button type="submit" class="btn btn-secondary me-5">Применить</button>
			</div>
		</div>
	</form>
</div>