﻿@model StarWars.ViewModels.HeroViewModel

<div class="container">

	<div class="mb-5">
		<h3>@Model.Name (@Model.NameOriginal)</h3>
	</div>
	
	<div class="d-flex w-100">
		<div class="d-flex w-100">
			<div class="w-100">
				<div class="mb-1 d-flex">
					<label for="bornDate" class="h6">Дата рождения</label>
					<div class="ms-3">
						@Model.BornDate ДБЯ
					</div>

				</div>
				<div class="mt-3 d-flex">
					<label class="h6">Планета</label>
					<div class="ms-3">
						@Model.Planet.Name
					</div>

				</div>
				<div class="mt-3 d-flex">
					<label class="h6">Пол</label>
					<div class="ms-3">
						@Model.Gender
					</div>

				</div>
				<div class="mt-3 d-flex">
					<label for="race" class="h6">Раса</label>
					<div class="ms-3">
						@Model.Race
					</div>

				</div>
			</div>
			<div class="w-100">
				<div class="d-flex">
					<label for="height" class="h6">Рост</label>
					<div class="ms-3">
						@Model.Height
					</div>
				</div>
				<div class="mt-3 d-flex">
					<label for="hairColor" class="h6">Цвет волос</label>
					<div class="ms-3">
						@Model.HairColor
					</div>
				</div>	
				<div class="mt-3 d-flex">
					<label for="eyeColor" class="h6">Цвет глаз</label>
					<div class="ms-3">
						@Model.EyeColor
					</div>
				</div>
			</div>
		</div>

		<div class="w-100">
			<h5 class="mb-2 ms-4">Фильмы</h5>
			@foreach (var film in Model.Films)
			{
				<p class="mb-1">@film.Name</p>
			}
		</div>
	</div>
	<div class="d-flex mt-5">
		@Model.Description
	</div>
	
	<div class="d-flex justify-content-end">
		<form asp-action="DeleteHero" asp-controller="Hero" asp-route-heroId="@Model.Id" method="post">
			<button type="submit" class="btn btn-secondary me-5">Удалить</button>
		</form>
		<form asp-action="UpdateHero" asp-controller="Hero" asp-route-heroId="@Model.Id" method="post">
			<button type="submit" class="btn btn-secondary me-5">Редактировать</button>
		</form>
	</div>
</div>